body {
  text-align: center;
  margin: 40px;
  font-size: 20px;
  background: #09b7ce;
}

h1 {
  color: whitesmoke;
}

h1,
img,
.navigation-links {
  margin-bottom: 25px;
}

img {
  background: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #067786;
}

.croissant-info {
  max-width: 650px;
  display: block;
  margin: 0 auto 30px;
}

.navigation-links a {
  padding: 12px;
}
